[Unit]
Description=backer-server

[Service]
ExecStart=/usr/sbin/backer-server -p 9618 --backup-dir /opt/backer_dir
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target