[Unit]
Description=backer

[Service]
ExecStart=/usr/sbin/backer -c /etc/backer/backer.yaml
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target